body {
    background: skyblue;
}

#header {
    justify-content: space-between;
    text-align: center;
}
.dash {
    text-align: center;
    justify-content: center;
}
h1 {
    color: white;
}
/* .date {
    visibility: hidden;
} */
ul {
    list-style-type: none;
}
#city {
    font-weight: bold;
}
#future {
    visibility: hidden;
}
#day-8 {
    font-size: 10px;
}
#day-0 {
    font-size: 10px;
}
#day-16 {
    font-size: 10px;
}
#day-24 {
    font-size: 10px;
}
#day-32 {
    font-size: 10px;
}