body {
    background: skyblue;
}

#header {
    justify-content: space-between;
    text-align: center;
}
.dash {
    text-align: center;
    justify-content: center;
}
h1 {
    color: white;
}

.date {
    text-align: center;
}
#current-conditions {
    text-align: center;
}
ul {
    list-style-type: none;
}
#city {
    font-weight: bold;
}
#future {
    visibility: hidden;
}
#day-0 {
    font-weight: bold;
}
#day-8 {
    font-weight: bold;
}
#day-16 {
    font-weight: bold;
}
#day-24 {
    font-weight: bold;
}
#day-32 {
    font-weight: bold;
}
.conditions-future {
    justify-content: space-between;
}
#weather-icons {
    text-align: center;
}