body {
    background: skyblue;
}

#header {
    justify-content: space-around;
}
.dash {
    text-align: center;
    justify-content: center;
}
h1 {
    color: white;
}
.conditions {
    visibility: hidden;
}